.footer{
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white
}

.footer-title{
  font-size: 20px;
}

a{
  color: blue;
}

.instagram{
  color: white;
}

.instagram:hover{
  color: lightcoral;
}