.nav-link{
  color: darkgreen;
  font-size: 20px;
}

.nav-link:hover{
  color:darkgreen;
  border: 2px solid darkgreen;
}

.nav-link:focus{
  outline: none;
}

.logo-container{
  display: inline-block;
  background-color: beige;
  border-radius: 100px;
  /* border: 4px solid darkgreen; */
  /* padding: 10px; */
  margin-left: 5px;
}

.navbar-brand {
  padding-top:0 !important;
  margin-right: .5rem !important;
  margin-left: .5rem;
}

.navbar-brand:hover {
background-color: lightgoldenrodyellow;
border-radius: 15px;
}

.navbar-brand img{
  height: 115px;
}

.navbar{
  font-family: 'Nanum Gothic', sans-serif; 
  color: white;
  background-color: beige;
  top: 0;
  width: 100%;
  height: 135px;
}